/*-------------------------- Global Styles --------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --signal-rust: #f03701;
    --cold-gray: #1a1818;
    --binary-white: #f5f5f5;
    --frigid-blue: #2596be;
    --status-green: #64d95c;
    --gap-space: 0.313rem;
    --gap-space-lg: 0.75rem;
    --box-border: 2px solid var(--signal-rust);
    --box-padding: 5px 10px;;
}

body {
    background-image: url(img/vhsStatic.gif);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3.854rem 10fr 3.854rem;
    grid-template-areas:
        "navbar navbar"
        "main main"
        "footer footer";
    height: 100vh;
}

li {
    list-style-type: none;
    font-size: 1.5rem;
    color: var(--binary-white);
}

.bold-green {
    color: var(--status-green);
    font-weight: bold;
}
.bold-orange {
    color: #ffa500;
    font-weight: bold;
}
.bold-red {
    color: var(--signal-rust);
    font-weight: bold;
}

#socials-title, #background-title, #interests-title,
#projects-title, #education-title, #education-title-b, 
#programming-title, #other-title, #work-title {
    background-color: var(--signal-rust);
    width: 100%;
    text-align: center;
}

/*-------------------------- Navbar --------------------------*/
#navbar {
    color: var(--binary-white);
    grid-area: navbar;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    background-color: var(--signal-rust);
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#navbar ul li a {
    text-decoration: none;
    color: var(--cold-gray);
    font-size: 1.2rem;
}
#navbar ul li {
    border: var(--binary-white) 2px solid;
    width: 6.5rem;
    padding: 2px;
    text-align: center;
}

#navbar ul li:hover,
#navbar ul li:focus {
    background-color: var(--binary-white);
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    color: var(--cold-gray);
    font-weight: bold;
    background-color: var(--binary-white);
}

/***************************************************************************
                                Main Index Pages
***************************************************************************/

#bio-main {
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "intro intro interests"
        "bg bg interests"
        "bg bg socials";
}

#projects-main {
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "intro intro"
        "projects projects"
        "projects projects";
}

#resume-main {
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "intro intro"
        "edu edu"
        "pg-skills pg-skills"
        "skills skills";
}

/*-------------------------- Intro Section --------------------------*/
#intro {
    grid-area: intro;
    grid-column: 1 / span 2;
    gap: 0.313rem;
    display: flex;
    margin: 0.75rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro-container {
    width: 100%;
    min-height: 160px;
    height: 100%;
    border: var(--box-border);
    background: url(img/grid.jpg) center / cover;
    color: var(--binary-white);
}

#intro-bio-mobile {
    display: none;
}
#intro-bio-desktop, 
#intro-projects-desktop,
#intro-resume-desktop {
    height: 205px;
}

#intro-title {
    background-color: var(--signal-rust);
}

#intro ul {
    margin-left: 1.5rem;
}

#intro ul li {
    list-style-type: square;
}

#intro p {
    padding: var(--box-padding);
    font-size: 1.5rem;
}

/* Profile */
.profile {
    margin-left: 0.313rem;
    margin-right: var(--gap-space-lg);
    display: flex;
    flex-direction: column;
}

/* Profile Hover */
.profile:hover #profile-name,
.profile:focus #profile-name {
    background-color: var(--frigid-blue);
    color: var(--binary-white);
}
.profile:hover .profile-img,
.profile:hover .profile-graphic {
    border: solid 2px var(--frigid-blue);
}

#profile-name {
    background-color: var(--binary-white);
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-align: center;
}

.profile-img {
    border: solid 2px var(--binary-white);
    border-radius: 0 0 4px 0;
    grid-row: 2 / 3;
    height: 118px;
    width: 150px;
}

.profile-graphic {
    border: solid 2px var(--binary-white);
    width: 150px;
    height: auto;
    margin-top: 5px;
    align-self: center;
    border-radius: 0 0 4px 0;
}

/*-------------------------- Background Section --------------------------*/
#background {
    grid-area: bg;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "socials-container background-bio";
    gap: var(--gap-space);
    margin: 0.75rem;
    height: fit-content;
}

.background-bio {
    grid-area: background-bio;
    border: var(--box-border);
    grid-column: 1 / 3;
    flex-direction: column;
    background: url(img/grid.jpg) center / cover;
}
.background-bio p {
    color: var(--binary-white);
    font-size: 2rem;
    padding: 5px 10px;
}

/*-------------------------- Socials Section --------------------------*/
#socials-section {
    grid-area: socials;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--gap-space-lg);
}

.socials-container-mobile {
    display: none;
}

.socials-container {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: url(img/grid.jpg) center / cover;
    border: solid 2px var(--signal-rust);
}

.socials-container ul {
    padding: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.socials-container ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--binary-white);
}

.social-link {
    font-size: 1.2rem;
    color: var(--status-green);
    text-decoration: underline
}
.social-link:visited {
    color: var(--frigid-blue);
}

.social-link:hover,
.social-link:focus {
    font-weight: bold;
    color: var(--signal-rust);
}
.social-link:active {
    color: var(--binary-white);
}

svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

#sm-logo,
#gh-icon {
    fill: var(--binary-white);
    size: 24px;
}

#sm-logo-b,
#gh-icon-b {
    fill: var(--binary-white);
    size: 24px;
}
/*-------------------------- Interests Section --------------------------*/
#interests {
    margin: 0.75rem;
    grid-area: interests;
    background: url(img/grid.jpg) center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interests-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-space-lg);
    height: 100%;
    width: 100%;
    border: var(--box-border);
    padding: var(--gap-space-lg);
}

.interests-tile {
    color: var(--binary-white);
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tile-border tile-content"
    ;
    flex-direction: row;
    border: var(--box-border);
}

.games-tile, .history-tile {
    display: flex;
    width: 100%;
    flex-direction: row ;
}
.otaku-tile {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    flex-direction: column ;
}

.games-tile-img {
    width: 33%;
    height: 150px;
}
.history-tile-img {
    width: 50%;
    height: 150px;
}
.otaku-tile-img {
    width: 100%;
    height: 120px;
}

.tile-border {
    grid-area: tile-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--signal-rust);
    padding-top: 1rem;
    width: 3rem;
}

.tile-content {
    grid-area: tile-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tile-content p {
    padding: var(--gap-space);
}

.tile-title {
    transform: rotate(90deg);
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.tile-icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-img {
    width: 100%;
    height: 150px;
}

.interests-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

/*-------------------------- Projects Section --------------------------*/

#projects-section {
    grid-area: main;
    margin: 0.75rem;
    grid-area: projects;
    background: url(img/grid.jpg) center / cover;
    border: var(--box-border);
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "project1 project2 project3"
        "project4 project5 project6";
    gap: var(--gap-space-lg);
    padding: var(--gap-space-lg);
    width: 100%;
    background-color: transparent;
    height: 100%;
}

.projects-tile {
    border: solid 2px var(--binary-white);
    background-color: var(--cold-gray);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 2.8rem 230px 1fr;
    grid-template-areas: 
    "project-name project-name"
    "project-img project-desc";
}

.projects-tile a {
    text-decoration: none;
    color: var(--cold-gray);
}

.projects-tile:hover, .projects-tile:focus {
    border: solid 2px var(--frigid-blue);
}

.projects-tile:hover .project-name {
    background-color: var(--frigid-blue);
    color: var(--binary-white);
}
.projects-tile:hover .project-name a {
    color: var(--binary-white);
}

.project-name {
    grid-area: project-name;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: var(--binary-white);
    font-size: 2rem;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
.project-img {
    grid-area: project-img;
    justify-self: center;
    align-self: center;
    border: solid 2px var(--binary-white);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 400px;
    height: 180px;
    border-radius: 0 0 4px 0;
}

/* Projects Desciption Section */
.project-desc {
    color: var(--binary-white);
    grid-area: project-desc;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 10px;
}
.project-desc ~ p {
    text-align: left;
    color: var(--binary-white);
    text-align: center;
    margin-top: 0.5rem;
}
.project-desc em {
    text-decoration: underline;
}
.project-desc-icons {
    display: flex;
    gap: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.program-icons {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}
.submit-date {
    text-align: right;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-style: italic;
}
.submit-date span {
    color: var(--status-green);
}

#project1 {grid-area: project1;}
#project2 {grid-area: project2;}
#project3 {  grid-area: project3;}
#project4 {grid-area: project4;}
#project5 {grid-area: project5;}
#project6 {grid-area: project6;}

/*-------------------------- Education and Work History Section --------------------------*/

#education-section {
    margin: 0.75rem;
    grid-area: edu;
    background: url(img/grid.jpg) center / cover;
    border: var(--box-border);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.education-container,
.work-container {
    color: var(--binary-white);
    width: 100%;
    background-color: transparent;
    border: var(--box-border);
    margin: var(--gap-space-lg);
}

#edu-wk-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: var(--gap-space-lg);
    padding: var(--gap-space-lg);
}

#edu-wk-wrapper ul li {
    font-size: 1rem;
    list-style-type: square;
    margin-left: 1rem;
}
#edu-wk-wrapper ul,
#edu-wk-wrapper h3 {
    font-size: 1rem;
    list-style-type: square;
    margin: var(--gap-space);
}

#edu-wk-wrapper h3 {
    text-decoration: underline;
    font-weight: 800;
}

/*-------------------------- Skills/Programming Skill Section --------------------------*/

#programming-section, 
#other-section {
    margin: 0.75rem;
    background: url(img/grid.jpg) center / cover;
    border: var(--box-border);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#programming-section {
    grid-area: pg-skills;
}

#other-section {
    grid-area: skills;
}

.programming-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: var(--gap-space-lg);
    padding: var(--gap-space-lg);
    width: 100%;
    background-color: transparent;
    height: 100%;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: var(--gap-space-lg);
    padding: var(--gap-space-lg);
    width: 100%;
    background-color: transparent;
    height: fit-content;
}

#other-section .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
#other-section .skills-container .skills-tile {
    width: 655px;
}

.skills-tile {
    border: 2px solid var(--binary-white);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3rem 2fr 3rem;
    grid-template-areas:
        "skills-header skills-header"
        "skills-content skills-content"
        "skills-examples skills-examples";
}

.skills-header {
    grid-area: skills-header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--binary-white);
    border-bottom: solid 2px var(--binary-white);
}

.skills-title {
    grid-area: skills-title;
    font-size: 2rem;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.skills-icons {
    width: 35px;
    height: 35px;
    margin-left: var(--gap-space);
}

.skills-graphic {
    border-bottom: solid 1px var(--binary-white);
    border-top: solid 1px var(--binary-white);
    width:150px;
    height: auto;
}

.skills-content {
    grid-area: skills-content;
    color: var(--binary-white);
    padding: var(--gap-space);
}

.skills-examples {
    padding-left: var(--gap-space);
    padding-right: var(--gap-space);
    grid-area: skills-examples;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--binary-white);
}

.skill-img {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
} 

.demo-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.demo-bar a:hover,
.demo-bar a:focus {
    background-color: var(--signal-rust);
    border: solid 2px var(--signal-rust);
}

/***************************************************************************
                            Responsive Styles
***************************************************************************/

@media screen and (min-width: 300px) and (max-width: 768px) {

/* Biography/Main Section */
#bio-main {
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "intro intro"
        "bg bg"
        "interests interests";
}

.socials-container-mobile {
    display: flex;
    grid-area: socials;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: url(img/grid.jpg) center / cover;
    border: solid 2px var(--signal-rust);
}

.socials-container {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: url(img/grid.jpg) center / cover;
    border: solid 2px var(--signal-rust);
}

.socials-container-mobile ul {
    padding: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

/***************** Main Index Pages *****************/
#bio-main,
#projects-main,
#resume-main {
    grid-template-rows: 280px 4fr;
}

#navbar {
    grid-column: 1 / span 2;
}

/* Intro Section */
#intro {
    margin: var(--gap-space-lg);
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.intro-container {
    width: 100%;
    height: 80%;
    align-self: center;
}
#intro-title {
    font-size: 1.4rem;
}
#intro p {
    padding: var(--box-padding);
    font-size: 1rem;
}

#intro-bio-mobile {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#intro-bio-desktop {
    display: none;
}

.profile {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Interests Section */
#interests {
    width: 100%;
}

/* Background Section */
#background {
    grid-area: bg;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "socials socials"
        "background-bio background-bio";
    gap: var(--gap-space-lg);
}
.background-bio {
    grid-area: background-bio;
    border: var(--box-border);
    display: flex;
    flex-direction: column;
    background: url(img/grid.jpg) center / cover;
}

.background-bio p {
    font-size: 1.5rem;
}

/* Projects Section */
.projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "project1"
        "project2"
        "project3"
        "project4"
        "project5"
        "project6";
    padding: var(--gap-space-lg);
}

.projects-tile {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 2.8rem 80px 1fr;
    gap: var(--gap-space);
    grid-template-areas:
        "project-name project-name"
        "project-img ..."
        "project-desc project-desc";
}

.project-name {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.project-desc {
    grid-area: project-desc;
    width: 100%;
}
.project-desc p {
    color: var(--binary-white);
    text-align: left;
    text-wrap: wrap;
}

.project-desc-icons {
    grid-area: project-desc-icons;
}

.project-img {
    display: block;
    width: 120px;
    padding: 0px;
    height: 80px;
    align-self: center;
    border: solid 2px var(--binary-white);
    margin-left: 10px;
}

/* Education and Work History Section */
.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edu-wk-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: var(--gap-space-lg);
    padding: var(--gap-space-lg);
}

/* Skills/Programming Skill Section */
#jp-title {
    font-size: 1rem;
}

#other-section .skills-container .skills-tile {
    width: 100%;
}

}

footer {
    margin-top: 0.75rem;
    grid-area: footer;
    background-color: var(--signal-rust);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Google Fonts */
.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}