/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --signal-rust: #f03701;
    --cold-gray: #1a1818;
    --binary-white: #f5f5f5;
    --frigid-blue: #2596be;
    --gap-space: 0.313rem;
    --gap-space-lg: 0.75rem;
    --box-border: 2px solid var(--signal-rust);
    --box-padding: 5px 10px;;
}

/* Visualizer Stylings */

body {
    background-image: url(img/vhsStatic.gif);
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: repeat(5, 1fr); */
    grid-template-rows: 3.854rem 10fr 3.854rem;
    grid-template-areas:
        "navbar navbar"
        "main main"
        "footer footer";
    height: 100vh;
}

li {
    list-style-type: none;
}

#navbar ul li {
    border: var(--binary-white) 2px solid;
    width: 6.5rem;
    padding: 2px;
    text-align: center;
}

/* #navbar ul li a:focus {
    border: var(--binary-white) 2px solid;
    width: 6.5rem;
    padding: 2px;
    text-align: center;
} */

/* Navbar */
#navbar {
    color: var(--binary-white);
    grid-area: navbar;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    background-color: var(--signal-rust);
    display: flex;
    /* height: 740px; */
    justify-content: center;
    align-items: center;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#navbar ul li a {
    text-decoration: none;
    color: var(--cold-gray);
    font-size: 1.2rem;
}

#navbar ul li:hover,
#navbar ul li:focus {
    background-color: var(--binary-white);
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    color: var(--cold-gray);
    font-weight: bold;
    background-color: var(--binary-white);
}

/* Biography/Main Section */
#bio-main {
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "intro intro"
        "bg bg"
        "interests interests";
}

#projects-main {
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "intro intro"
        "projects projects"
        "projects projects";
}

/* Intro Section */
#intro {
    grid-area: intro;
    grid-column: 1 / span 2;
    gap: 0.313rem;
    display: flex;
    margin: 0.75rem;
}

.intro-container {
    width: 100%;
    border: var(--box-border);
    background: url(img/grid.jpg) center / cover;
    color: var(--binary-white);
}

#intro-title {
    background-color: var(--signal-rust);
}

#intro p {
    padding: var(--box-padding);
}

/* Profile */
.profile {
    margin-left: 0.313rem;
    margin-right: var(--gap-space-lg);
    grid-area: profile;
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 2;
}

#profile-name {
    grid-area: profile-name;
    background-color: var(--binary-white);
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-align: center;
}

.profile-img {
    border: solid 2px var(--binary-white);
    grid-area: profile-img;
    grid-row: 2 / 3;
    height: 118px;
    width: 150px;
    /* background-size: cover;
    background-image: url(img/profile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 4px 0; */
}

/* Background Section */
#background {
    grid-area: bg;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "socials-container background-bio";
    gap: var(--gap-space);
    margin: 0.75rem;
}

#socials-title ,
#background-title,
#interests-title,
#projects-title {
    background-color: var(--signal-rust);
    width: 100%;
    text-align: center;
}

.background-bio {
    grid-area: background-bio;
    border: var(--box-border);
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    flex-direction: column;
    /* max-width: 600px; */
    background: url(img/grid.jpg) center / cover;
}
.background-bio p {
    color: var(--binary-white);
    padding: 5px 10px;
}

/* Socials Section */
.socials-container {
    grid-area: socials-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/grid.jpg) center / cover;
    border: solid 2px var(--signal-rust);
}

.socials-container ul {
    padding: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.socials-container ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--binary-white);
}

svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

#fb-icon {
    fill: #0866FF;
    size: 24px;;
}
#gh-icon {
    fill: var(--binary-white);
    size: 24px;
}
#ig-icon {
    fill: #E1306C;
    size: 24px;
}

/* Interests Section */
#interests {
    margin: 0.75rem;
    grid-area: interests;
    background: url(img/grid.jpg) center / cover;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    border: var(--box-border);
}

.interests-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

/*-------------------------- Projects Section --------------------------*/

#projects-section {
    grid-area: main;
    margin: 0.75rem;
    grid-area: projects;
    background: url(img/grid.jpg) center / cover;
    border: var(--box-border);
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "project1 project2 project3"
        "project4 project5 project6";
    /* grid-template-areas:
        "project1 project2" 
        "project3 project4" 
        "project5 project6"; */
    gap: var(--gap-space-lg);
    padding: var(--gap-space-lg);
    width: 100%;
    background-color: transparent;
    height: 100%;
}

.projects-tile {
    border: solid 2px var(--binary-white);
    background-color: var(--cold-gray);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 2.8rem 230px 1fr;
    grid-template-areas: 
    "project-name project-name"
    "project-img project-desc";
}

.projects-tile a {
    text-decoration: none;
    color: var(--cold-gray);
}

.projects-tile:hover, .projects-tile:focus {
    border: solid 2px var(--frigid-blue);
}

.projects-tile:hover .project-name {
    background-color: var(--frigid-blue);
    color: var(--binary-white);
}
.projects-tile:hover .project-name a {
    color: var(--binary-white);
}

/* Projects Desciption Section */
.project-desc {
    color: var(--binary-white);
    grid-area: project-desc;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 10px;
}
.project-desc ~ p {
    text-align: left;
    color: var(--binary-white);
    text-align: center;
    margin-top: 0.5rem;
}
.project-desc em {
    text-decoration: underline;
}
.project-desc-icons {
    display: flex;
    gap: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.program-icons {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

.project-name {
    grid-area: project-name;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: var(--binary-white);
    font-size: 2rem;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
.project-img {
    grid-area: project-img;
    justify-self: center;
    align-self: center;
    border: solid 2px var(--binary-white);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* width: auto; */
    width: 400px;
    height: 180px;
    border-radius: 0 0 4px 0;
    /* margin-left: 10px; */
}

#project1 {
    grid-area: project1;
}
#project2 {
    grid-area: project2;
}
#project3 {
    grid-area: project3;
}
#project4 {
    grid-area: project4;
}
#project5 {
    grid-area: project5;
}
#project6 {
    grid-area: project6;
}

/***************************************************************************
                            Responsive Styles
***************************************************************************/

@media screen and (min-width: 300px) and (max-width: 768px) {
/* #projects-main {
        grid-area: main;
        height: 100%;
        display: flex;
        flex-direction: column;
    } */

/* Biography/Main Section */
#bio-main,
#projects-main {
    grid-template-rows: 280px 4fr;
}

    #navbar {
        grid-column: 1 / span 2;
    }

    /* Intro Section */
    .intro-container {
        width: 100%;
        height: 80%;
        align-self: center;
    }

    .profile {
        margin-left: 0.313rem;
        margin-right: var(--gap-space-lg);
        grid-area: profile;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1 / span 2;
    }

    /* Projects Section */

    .projects-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "project1"
            "project2"
            "project3"
            "project4"
            "project5"
            "project6";
        padding: var(--gap-space-lg);
    }

    .projects-tile {
        width: 100%;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: 2.8rem 80px 1fr;
        gap: var(--gap-space);
        grid-template-areas:
            "project-name project-name"
            "project-img ..."
            "project-desc project-desc";
    }

    .project-name {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .project-desc {
        grid-area: project-desc;
        /* width: 160px; */
        width: 100%;
        /* grid-column: 2 / 3;
        grid-row: 2 / 3; */
    }
    .project-desc p {
        color: var(--binary-white);
        text-align: left;
        text-wrap: wrap;
    }

    .project-desc-icons {
        grid-area: project-desc-icons;
    }

    .project-img {
        display: block;
        /* grid-column: 1 / 2;
        grid-row: 2 / 3; */
        /* width: 100%;
        max-width: 150px; */
        /* width: auto; */
        width: 120px;
        padding: 0px;
        height: 80px;
        align-self: center;
        border: solid 2px var(--binary-white);
        margin-left: 10px;
        /* max-width: 100%;
        max-height: 150px; */
    }

}

/* #project1, #project2, #project3, #project4, #project5, #project6 {
    border: var(--box-border);
    background-color: var(--cold-gray);
    color: var(--binary-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
} */

/* 
body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
    "navbar navbar"
    "main main"
    /* "intro intro"
    "bg bg"
    "interests interests" 
    "footer footer";
    height: 100%;
} */



footer {
    margin-top: 0.75rem;
    grid-area: footer;
    background-color: var(--signal-rust);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Visualizer styles */

/* Google Fonts */

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}